<!--  <p><small> <%#=time_ago_in_words(comment.created_at)%> ago</small></p>-->
<%# if current_user.spam? != true %>
<%# if current_user == comment.user || current_user.admin? %>
<%#= link_to "Delete comment", [comment.article , comment], method: :delete,data: {confirm: "Are you sure you want to delete the comment?"} %>
<%# end %>
<%# if current_user == comment.user %>
<%#= link_to "Edit comment", edit_article_comment_path(comment.article, comment) %>
<%# end %>
<%# end %>
<%# end %>
<%#= render 'comments/form' %>

<div class="blog-comments-inner clearfix">

  <div class="comments-wrap">
    <h3 class="title">Comments</h3>
    <ul class="comments">
      <% @comments.each do |comment| %>

        <li class="comments-body">
          <div class="comments-inner">
            <div class="avatar"><img src="../assets/media/blog/49.jpg" alt="avatar"></div>
            <div class="avatar-comments">

              <p><%= comment.content %></p>

              <h4 class="comments-author"><a><%= comment.user.username  %></a> </h4>
              <a class="avatar-meta"> <%=time_ago_in_words(comment.created_at)%> ago</a>

              <%if comment.updated_at != comment.created_at %>
                <a class="avatar-meta"> Edited </a>
              <%end %>


              <% if current_user.spam? != true %>

                <% if current_user == comment.user || current_user.admin? %>
                  <%= link_to "Delete comment", [comment.article , comment], method: :delete,data: {confirm: "Are you sure you want to delete the comment?"}, class: "avatar-meta reply" %>
                <% end %>

                <% if current_user == comment.user %>
                  <%= link_to "Edit comment", edit_article_comment_path(comment.article, comment), class: "avatar-meta reply"  %>
                <% end %>

              <% end %>

            </div>
          </div>
          <!-- /.comments-inner -->
        </li>

      <% end %>

    </ul>
  </div>
  <!-- /.comments -->

  <div class="comments-form">
    <%= render "comments/form" %>
  </div>
  <!-- /.comments-form -->
</div>