<% @Description = @DB[:_RefAvatarDesc].where(:codename => obj[:descstrid128]).all.last %>
<div class='item-data'>
  <div class='item-name'> <i> <img src='https://i.imgur.com/XRQbRPq.png'> </i> <%= obj[:objname128]  %> <% if stat[:optlevel] != 0 %> (+ <%= stat[:optlevel] %>) <%end %> </div>
  <div class='nk-gap-1'></div>
  <br/>

  <div class='item-sort'> Sort of item:
    <% if obj[:typeid4] == 1 %>
        Avatar Hat
    <% elsif obj[:typeid4] == 2 %>
        Avatar Dress
    <% elsif obj[:typeid4] == 3 %>
        Avatar Accessory
    <% elsif obj[:typeid4] == 4 %>
        Avatar Flag
    <% else %>
      Devil's Spirit
    <% end %>
  </div>
  <br/>

  <div class='stats text-left' >
    <%= @Description[:description] if !@Description.nil? %>
  </div>
  <br/>

  <div class='item-sort'> Max.no.of magic options: <%= pluralize(rare[:maxmagicoptcount], 'Unit') %> </div>
  <br/>

  <div class='nk-gap-1'></div>
  <br/>


  <div class='stats'>
    <% if rare[:reqgender].zero? %>
      Female
    <% else %>
      Male
    <% end %>
  </div>
  <br/>

  <%= render 'blueStates', stat: stat %>

</div>