<% if params[:action]==='search_char' %>
  <div class="results-block">
    <%= bootstrap_flash %>
  </div>
<% end %>
<% if @chars %>
  <% if @chars.size >0 %>
    <div id="friend-lookup-results" class="well results-block col-md-10">
      <table class="search-results-table col-md-12">
        <tbody>
        <% @chars.each do |char| %>
          <tr>
            <td><strong>Charname: </strong><%= char[:charname16] %></td>
        <td><strong>Current level: </strong><%= char[:curlevel] %></td>
   <td><strong>HP: </strong><%= char[:hp] %></td>
            <td><strong>MP: </strong><%= char[:mp] %></td>
            <td><strong>Stat points: </strong><%= char[:remainstatpoint] %></td>
            <td><strong>profile: </strong><%= link_to "View Profile","/Characters/"+char[:charname16],class:"btn btn-xs btn-success" %>

            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  <% end %>
<% end %>
