<!doctype html>

<html>

<head>

  <%= javascript_include_tag "validation.js" %>

  <!-- Meta Data -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title> Z Online | Prefrences </title>

  <!-- Fav Icon -->
  <link rel="apple-touch-icon" sizes="180x180" href="../assets/media/Z_ICO.ico">
  <link rel="icon" type="image/png" sizes="32x32" href="../assets/media/Z_ICO.ico">
  <link rel="icon" type="image/png" sizes="16x16" href="../assets/media/Z_ICO.ico">
  <meta name="theme-color" content="#3d0e03">

  <!-- Dependency Styles -->
  <link rel="stylesheet" href="../assets/dependencies/bootstrap/css/bootstrap.min.css" type="text/css">
  <link rel="stylesheet" href="../assets/dependencies/font-awesome/css/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/brands.css" integrity="sha384-7xAnn7Zm3QC1jFjVc1A6v/toepoG3JXboQYzbM0jrPzou9OFXm/fY6Z/XiIebl/k" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/fontawesome.css" integrity="sha384-ozJwkrqb90Oa3ZNb+yKFW2lToAWYdTiF1vt8JiH5ptTGHTGcN7qdoR1F95e0kYyG" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">


  <!-- Site Stylesheet -->
  <link rel="stylesheet" href="../assets/dependencies/swiper/swiper.min.css" type="text/css">
  <link rel="stylesheet" href="../assets/dependencies/wow/css/animate.css" type="text/css">
  <link rel="stylesheet" href="../assets/dependencies/magnific-popup/magnific-popup.css" type="text/css">
  <link rel="stylesheet" href="../assets/dependencies/jquery-animated-headlines/css/jquery.animatedheadline.css" type="text/css">
  <link rel="stylesheet" href="../assets/home-dependencies/woocommerce.css" type="text/css">
  <link rel="stylesheet" href="../assets/dependencies/jquery-ui/css/jquery-ui.css" type="text/css">
  <link rel="stylesheet" href="../assets/home-dependencies/app.css" type="text/css">

  <!-- Google Web Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Khand:300,400,500,600,700%7C;Source+Sans+Pro:200,300,400,600,600i,700,900" rel="stylesheet">
  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

</head>


<body id="home-version-1" class="home-version-1" data-style="default">
<style>
  td, th {
    padding-top:20px;
    padding-bottom:20px;
    padding-right:20px;
    text-align: center;
  }

  td:first-child, th:first-child {
    padding-left:20px;
    padding-right:0;
  }
  s
</style>
<!--
<div id="loader-wrapper">
<div class="loader">
<span></span>
<span></span>
<span></span>
<span></span>
<span></span>
<span></span>
<span></span>
<span></span>
<span></span>
<span></span>
<span></span>
<span></span>
<span></span>
<span></span>
<span></span>
</div>
</div> -->
<div id="loader-wrapper">
  <div class='loader'></div>
</div>

<div class="switch-top">
  <p>Back To Top</p>
  <a href="#main_content" data-type="section-switch" class="return-to-top">
    <i class="fa fa-angle-double-up"></i>
  </a>
</div>

<div id="main_content">

  <%= render 'welcome/Navbar' %>

  <!--=========================-->
  <!--=        Banner         =-->
  <!--=========================-->

  <section id="page-header" data-bg-image="../assets/media/background/z6.jpg">
    <div class="container">
      <div class="page-title-wrap">
        <div class="page-title-inner">
          <h1 style="color: #ffc000"><%= current_user.name %></h1>
          <h3>User Profile</h3>
          <span class="delemitter" data-bg-image="../assets/media/banner/s1.png"></span>
        </div>
        <!-- /.page-title-inner -->
      </div>
      <!-- /.page-title-wrap -->
    </div>
    <!-- /.container -->
  </section>
  <!-- /#page-header -->


  <!--=================================-->
  <!--=        Col Two Action         =-->
  <!--=================================-->
  <section id="game-strategy" class="pb__30">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12">
          <div class="section-icon-title">
            <h3 class="float-left" style="font-size: 24px"><i class="fa fa-user"></i>User Panel</h3>

            <ul class="nav tim-tab-nav d-flex justify-content-end" id="myTab-two" role="tablist">

              <li class="nav-item">
                <a class="active" id="strategy-tab" data-toggle="tab" href="#strategy" role="tab" aria-controls="strategy" aria-selected="true" style="font-size: 24px"> <i class="fa fa-info" style="padding-right: 10px;"></i>Info</a>
              </li>
              <li class="nav-item">
                <a id="action-tab" data-toggle="tab" href="#action" role="tab" aria-controls="action" aria-selected="false" style="font-size: 24px"><i class="fa fa-gift" style="padding-right: 10px;"></i> Rewards</a>
              </li>
              <li class="nav-item">
                <a id="videot-tab" data-toggle="tab" href="#videot" role="tab" aria-controls="videot" aria-selected="false" style="font-size: 24px"><i class="fas fa-donate" style="padding-right: 10px;"></i> Charge Silk</a>
              </li>
              <li class="nav-item">
                <a id="gadgets-tab" data-toggle="tab" href="#gadgets" role="tab" aria-controls="gadgets" aria-selected="false" style="font-size: 24px"><i class="fas fa-ticket-alt" style="padding-right: 10px;" ></i> Tickets </a>
              </li>

              <% if current_user.seller? %>

                <li class="nav-item">
                  <a id="game-tab" data-toggle="tab" href="#game" role="tab" aria-controls="game" aria-selected="false" style="font-size: 24px"> <i class="fas fa-money-check-alt" style="padding-right: 10px;" ></i> Pins </a>
                </li>

                <li class="nav-item">
                  <a id="game-tab" data-toggle="tab" href="#history" role="tab" aria-controls="game" aria-selected="false" style="font-size: 24px"> <i class="fas fa-history" style="padding-right: 10px;" ></i> History </a>
                </li>

              <% end %>

            </ul>
          </div>

          <div class="tab-content">

            <div class="tab-pane active show" id="strategy" role="tabpanel" aria-labelledby="strategy-tab" style="min-height: 600px;">

              <div class="row" style="padding-bottom: 1%;">
                <div class="col-lg-12 col-md-12">
                  <div id="app-errors">
                    <% flash.each do |key, value| %>
                      <% if key == "notice" || key == "success" %>
                        <h4 style=" color : #00962c"><%= value %></h4>
                      <% else %>
                        <h4 style=" color : #d50005"><%= value %></h4>
                      <% end %>
                    <% end %>
                  </div>
                </div>
              </div>

              <div class="row" style="padding-top: 5%;">

                <div class="col-lg-6 col-md-12">
                  <h3 style="color: azure"> Full Name :- </h3>
                  <h4 style="color: floralwhite"> <%= current_user.name %> </h4>

                  <div style="padding-top: 10%;"></div>

                  <h3 style="color: azure"> Email :- </h3>
                  <h4 style="color: floralwhite"> <%= current_user.email %> </h4>
                </div>

                <div class="col-lg-6 col-md-12">
                  <h3 style="color: azure"> Username :- </h3>
                  <h4 style="color: floralwhite"> <%= current_user.username %> </h4>

                  <div style="padding-top: 10%;"></div>

                </div>
              </div>



              <div style="padding-top: 10%;"></div>

              <div class="row">

                <div class="col-lg-3 col-md-12"></div>

                <div class="col-lg-3 col-md-12">
                </div>

                <div class="col-lg-4 col-md-12">


                  <%= link_to '<i class="fas fa-retweet"></i> Request password reset'.html_safe , {:controller => :users, :action => :send_reset_password_mail}, {class: "cart-btn mb__10"} %>
                </div>

              </div>
              <!-- /.row -->
            </div>

            <div class="tab-pane" id="action" role="tabpanel" aria-labelledby="action-tab">
              <div class="row">

                <!-- Rewards Sample -->
                <div class="col-md-3">
                  <div class="gaming-post small mb__30">
                    <div class="feature-image">
                      <a href="#"><img src="../assets/media/blog/33.jpg" alt="Thumb"></a>
                      <div class="blog-content">
                        <h3 class="blog-title">
                          <a style="font-size: 24px">
                            Red Dead Redemption 2 MicrotG
                          </a>
                        </h3>
                      </div>
                      <!-- /.blog-content -->
                    </div>
                  </div>

                  <%= form_tag url_for(:controller => 'preferences', :action => 'transfer_reward'),style: "width: 100%;font-weight: 700;", :method => 'get' do |f| %>
                    <%= select_tag(:charname, options_for_select( (@names) , params[:charname] ), style: "width: 100%;font-weight:700px") %>
                    <div style="padding-top: 10%;"></div>
                    <%= button_tag  '<i class="fas fa-exchange-alt"></i> Transfer'.html_safe, type: :submit, class: "cart-btn mb__10", style: "width: 100%"  %>
                  <% end %>


                </div>
                <!-- End -->

              </div>
            </div>

            <div class="tab-pane" id="videot" role="tabpanel" aria-labelledby="videot-tab">
              <div class="row">
                <div class="col-lg-4 col-md-6">
                </div>

                <div class="col-lg-4 col-md-6 text-center">
                  <div style="padding-top: 10%;"></div>
                  <div style="padding-top: 10%;"></div>
                  <h3 style="margin: auto;display: block;color: white"> Charge Code </h3>
                </div>

                <div class="col-lg-4 col-md-6">
                </div>

              </div>
              <!-- /.row -->

              <div class="row">

                <div class="col-lg-3 col-md-6">
                </div>

                <div class="col-lg-6 col-md-6">

                  <div style="padding-top: 5%;"></div>

                  <%= form_tag url_for(:controller => 'preferences', :action => 'charge_code'), class:"text-center", :method => 'get' do |f| %>

                    <input type="text" maxlength="4" size="4" style="text-align:center;font-weight: 900;font-size: 24px" name="code1">
                    <strong style="font-weight: 900;font-size: 30px;"> - </strong>
                    <input type="text" maxlength="4" size="4" style="text-align:center;font-weight: 900;font-size: 24px" name="code2">
                    <strong style="font-weight: 900;font-size: 30px;"> - </strong>
                    <input type="text" maxlength="4" size="4" style="text-align:center;font-weight: 900;font-size: 24px" name="code3">

                    <div style="padding-top: 5%;"></div>
                    <ul>
                      <li> Charged silks cannot be <strong> refunded </strong>, Charge codes are only used <strong>once</strong>  </li>
                    </ul>
                    <br>

                    <%= button_tag  '<i class="far fa-credit-card"></i> Accept & Charge'.html_safe, type: :submit, class: "cart-btn mb__10"  %>

                  <% end %>
                  <div style="padding-top: 10%;"></div>

                </div>

                <div class="col-lg-3 col-md-6">
                </div>
              </div>

            </div>

            <div class="tab-pane" id="gadgets" role="tabpanel" aria-labelledby="gadgets-tab">

              <div class="row" style="min-height: 600px;">
                <div class="col-lg-12 col-md-12">
                  <div style="padding-top: 2%;"></div>
                  <table style="width:100%;font-size: 24px;">

                    <tr>
                      <th style="color: floralwhite">Ticket #</th>
                      <th colspan="0"  style="color: floralwhite">Subject</th>
                      <th colspan="0"  style="color: floralwhite">Status</th>
                      <th colspan="0"  style="color: floralwhite"># of comments</th>
                    </tr>
                    <% @tickets.each do |ticket| %>
                      <tr>
                        <td><a href="../tickets/<%= ticket.id %>"><%= ticket.id %></a></td>
                        <td><%= ticket.subject %></td>
                        <% if ticket.status? %>
                          <td style="color: darkgreen"><strong>Opened</strong></td>
                        <% else %>
                          <td style="color: darkred"><strong>Closed</strong></td>
                        <% end %>
                        <td> <%= ticket.tcomments.count %> </td>
                      </tr>
                    <% end %>

                  </table>
                </div>
              </div>
              <!-- /.row -->
            </div>

            <% if current_user.seller? %>

              <div class="tab-pane" id="game" role="tabpanel" aria-labelledby="game-tab">
                <div class="row">
                  <div class="col-lg-4 col-md-6">
                  </div>

                  <div class="col-lg-4 col-md-6 text-center">
                    <div style="padding-top: 10%;"></div>
                    <div style="padding-top: 10%;"></div>
                    <h3 style="margin: auto;display: block;color: white"> Choose Package </h3>
                  </div>

                  <div class="col-lg-4 col-md-6">
                  </div>

                </div>
                <!-- /.row -->

                <div class="row">

                  <div class="col-lg-3 col-md-6">
                  </div>

                  <div class="col-lg-6 col-md-6">

                    <div style="padding-top: 5%;"></div>
                    <%#= form_tag url_for(:controller => 'preferences', :action => 'generate_code'),style: "width: 100%;font-weight: 700;", :method => 'get' do |f| %>
                    <%#= select_tag(:charname, options_for_select( (@names) , params[:charname] ), style: "width: 100%;font-weight:700px") %>
                    <!--                    <div style="padding-top: 10%;"></div>-->
                    <%#= button_tag  '<i class="fas fa-exchange-alt"></i> Transfer'.html_safe, type: :submit, class: "cart-btn mb__10", style: "width: 100%"  %>
                    <%# end %>
                    <%= form_tag url_for(:controller => 'preferences', :action => 'generate_code'),style: "width: 100%;font-weight: 700;", class:"text-center", :method => 'get' do |f| %>

                      <select style="width: 100%;font-weight: 600;font-size: 24px" name="package" id="package">
                        <option value="1">Package 1: 500 Silk - Price: 5$</option>
                        <option value="2">Package 2: 1000 Silk - Price: 10$</option>
                        <option value="3">Package 3: 2200 Silk - Price: 20$</option>
                        <option value="4">Package 4: 3300 Silk - Price: 30$</option>
                        <option value="5">Package 5: 5500 Silk - Price: 50$</option>
                        <option value="6">Package 6: 11500 Silk - Price: 100$</option>
                        <option value="7">Package 7: 18000 Silk - Price: 150$</option>
                        <option value="8">Package 8: 25000 Silk - Price: 200$</option>
                      </select>

                      <div style="padding-top: 5%;"></div>
                      <ul>
                        <li> Charged silks cannot be <strong> refunded </strong>, Charge codes are only used <strong>once</strong>  </li>
                      </ul>
                      <br>
                      <%= button_tag  '<i class="far fa-credit-card"></i> Accept & Generate'.html_safe, type: :submit, class: "cart-btn mb__10"  %>
                    <% end %>
                    <div style="padding-top: 10%;"></div>

                  </div>

                  <div class="col-lg-3 col-md-6">
                  </div>
                </div>

              </div>

              <div class="tab-pane" id="history" role="tabpanel" aria-labelledby="game-tab" style="font-size: 24px;">
                <div class="row" style="min-height: 600px;">
                  <div class="col-lg-12 col-md-12">
                    <div style="padding-top: 2%;"></div>
                    <table style="width:100%" align="center">
                      <tr>
                        <th style="color: floralwhite">Package</th>
                        <th colspan="0"  style="color: floralwhite">Code</th>
                        <th colspan="0"  style="color: floralwhite">Used</th>
                        <th colspan="0"  style="color: floralwhite">Genearted at</th>
                      </tr>
                      <% @all_codes.each do |code| %>
                        <tr>
                          <td> <%= code[:silkamount] %> Silk / <%= code[:cost] %> $ </td>
                          <td><%= code[:code15] %></td>
                          <% if code[:usedjid].zero? %>
                            <td style="color: darkred"><strong> NO </strong></td>
                          <% else %>
                            <td style="color: darkgreen"><strong> YES </strong></td>
                          <% end %>
                          <td> <%= time_ago_in_words(code[:date].to_datetime)  %> ago </td>
                        </tr>
                      <% end %>

                    </table>
                  </div>
                </div>
                <!-- /.row -->

              </div>

            <% end %>

          </div>
        </div>
        <!-- /.col-md-8 -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container -->
  </section>
  <!-- /#hame-strategy -->


  <%= render 'welcome/Footer' %>


</div>
<!-- /#site -->

<!-- Dependency Scripts -->
<script src="../assets/dependencies/jquery/jquery.min.js"></script>
<script src="../assets/dependencies/bootstrap/js/bootstrap.min.js"></script>
<script src="../assets/dependencies/swiper/js/swiper.min.js"></script>
<script src="../assets/dependencies/swiperRunner/swiperRunner.min.js"></script>
<script src="../assets/dependencies/magnific-popup/js/jquery.magnific-popup.min.js"></script>
<script src="../assets/dependencies/jquery-ui/jquery-ui.min.js"></script>
<script src="../assets/dependencies/jquery-animated-headlines/js/jquery.animatedheadline.min.js"></script>
<script src="../assets/dependencies/jquery.countdown/jquery.countdown.min.js"></script>
<script src="../assets/dependencies/countUp.js/js/countUp.min.js"></script>
<script src="../assets/dependencies/jquery.appear.bas2k/jquery.appear.js"></script>
<script src="../assets/dependencies/jquery.ripples/jquery.ripples.js"></script>
<script src="../assets/dependencies/wow/js/wow.min.js"></script>

<!-- Site Scripts -->
<script src="../assets/home-dependencies/app.js"></script>


</body>


<!-- Mirrored from themeim.com/demo/gameisland/game.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 28 Jun 2018 07:49:13 GMT -->
</html>