<%= javascript_include_tag "validation.js" %>
<h1 align="center">Welcome to <%= @user.username %>'s page</h1>
<h4 align="center"><%= @user.username %></h4>
<%if current_user.admin? %>
  <% if @user.support != true %>
    <%= button_to "Mark as supporter", {action: "mark_supp", username: @user.username }, method: :put,data: {confirm: "Are you sure you want to mark this user as supporter?!"} %>
  <% else %>
    <%= button_to "Unmark as supporter", {action: "mark_supp", username: @user.username }, method: :put,data: {confirm: "Are you sure you want to unmark this user as supporter?!"} %>
  <% end %>
<% end %>
</br>
</br>
<%if current_user.admin? %>
  <% if @user.spam != true %>
  <%= button_to "Mark as spam", {action: "mark_spam", username: @user.username }, method: :put,data: {confirm: "Are you sure you want to mark this user as spam?!"} %>
    <% else %>
    <%= button_to "Unmark as spam", {action: "mark_spam", username: @user.username }, method: :put,data: {confirm: "Are you sure you want to unmark this user as spam?!"} %>
<% end %>
<% end %>
</br>
</br>

<%if current_user.admin? %>
  <% if @user.seller != true %>
    <%= button_to "Mark as seller", {action: "be_seller", username: @user.username }, method: :put,data: {confirm: "Are you sure you want to mark this user as seller?!"} %>
  <% else %>
    <%= button_to "Unmark as seller", {action: "be_seller", username: @user.username }, method: :put,data: {confirm: "Are you sure you want to unmark this user as seller?!"} %>
  <% end %>
<% end %>
</br>
</br>

<% if @user.seller? %>
  this seller has = <%= pluralize(@user.pins,"pin") %>
<% end %>