<!--=========================-->
<!--=        Navbar         =-->
<!--=========================-->
<header id="header" class="header-one">
  <div class="top-menu">
    <div class="container">
      <div class="top-menu-wrap">
        <div class="row">
          <div class="col-md-8">
            <div class="top-menu-left">
              <ul class="head-social-link">
                <li><a href="https://www.facebook.com/ZOnline2018" target="_blank"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                <li><a href="https://discord.gg/cbpJ7fJ" target="_blank"><i class="fab fa-discord"></i></a></li>
              </ul>
              <!-- /.head-social-link -->
            </div>
            <!-- /.top-menu-left -->


            <div class="header-text">
              <span class="tour-title">Announcements</span>
              <h4 class="ah-headline">
                 <span class="ah-words-wrapper">
                     <% @announcements.each do |article| %>
                       <% if @announcements.first == article %>
                        <b class="is-visible"><%= article.title %></b>
                       <% else %>
                        <b><%= article.title %></b>
                       <% end %>
                     <% end %>
                 </span>
              </h4>
            </div>
          </div>
          <!-- /.col-md-6 -->

          <div class="col-md-4">
            <% if user_signed_in? %>
              <ul class="user-link nav justify-content-end">
                <%#= link_to , users_path(@current_user), "test<span>*</span>".html_safe %>
                <li><a href="<%= user_preferences_path %>"><i class="fa fa-user"></i> <%= current_user.username %></a></li>

                <% if current_user.seller? %>
                  <li><a href="#"><i class="fa  fa-usd"></i> <%= current_user.pins %></a></li>
                <% end %>

                <li>
                  <%= link_to destroy_user_session_path, :method => :delete  do %>
                  <i class="fa fa-sign-in"></i>logout
                  <% end %>
                </li>
              </ul>

            <% else %>
              <ul class="user-link nav justify-content-end">
                <li><a href="../users/sign_in"><i class="fa fa-user"></i>Login</a></li>
                <li><a href="../users/sign_up"><i class="fa fa-sign-in"></i>Sign Up</a></li>
              </ul>
            <% end %>

            <!-- /.user-link -->
          </div>
          <!-- /.col-md-6 -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.top-menu-wrap -->
    </div>
    <!-- /.container -->
  </div>
  <!-- /.top-menu -->

  <div class="nav" style="height: 130px;">
    <div class="container">
      <div class="nav-wrap">
        <div id="site-logo">
          <a href="">
            <img src="../assets/img/logo.png" alt="Site Logo">
          </a>
        </div>
        <ul class="tim-nav text-right">

          <li class="menu-item">
            <a href="/">
              Home
              <span class="dot"></span>
            </a>
          </li>

          <li class="menu-item-has-children">

            <a href="#">
              News
              <span class="dot"></span>
            </a>

            <ul class="sub-menu">
              <li><a href="../news/Announcements" >Announcements</a></li>
              <li><a href="../news/Events" >Events</a></li>
              <li><a href="../news/Maintenance" >Maintenance</a></li>
              <li><a href="../news/Updates" >Updates</a></li>
            </ul>

          </li>

          <li class="menu-item">
            <a href="../download" >
              Download
              <span class="dot"></span>
            </a>
          </li>

          <li class="menu-item-has-children">
            <a href="#">
              Rankings
              <span class="dot"></span>
            </a>
            <div class="mega-menu-inner">
              <div class="tab">

                <div class="tab_content">


                    <div class="row">

                      <div class="col-md-3">
                        <div class="top-team text-center">
                          <a href="../ranking/uniques" ><img src="../assets/media/team/1.jpg" alt="team"></a>
                          <h3 class="game-team-name"><a href="../ranking/uniques">Unique Ranking</a>
                          </h3>
                        </div>
                        <!-- /.top-team -->
                      </div>

                      <div class="col-md-3">
                        <div class="top-team text-center">
                          <a href="#"><img src="../assets/media/team/2.jpg" alt="team"></a>
                          <h3 class="game-team-name"><a href="#">Gems author</a>
                          </h3>
                        </div>
                        <!-- /.top-team -->
                      </div>

                      <div class="col-md-3">
                        <div class="top-team text-center">
                          <a href="#"><img src="../assets/media/team/3.jpg" alt="team"></a>
                          <h3 class="game-team-name text-center"><a href="#">Hard Gamer</a>
                          </h3>
                        </div>
                        <!-- /.top-team -->
                      </div>

                      <div class="col-md-3">
                        <div class="top-team text-center">
                          <a href="#"><img src="../assets/media/team/4.jpg" alt="team"></a>
                          <h3 class="game-team-name"><a href="#">Speed Controller</a>
                          </h3>
                        </div>
                        <!-- /.top-team -->
                      </div>

                    </div>
                    <!-- /.row -->
                  </div>
                  <!-- / tabs_item -->

                </div>
                <!-- / tab_content -->
              </div>
              <!-- / tab -->
            <!-- /.mega-menu-inner -->
          </li>

          <li class="menu-item-has-children">
            <a href="#">
              Support
              <span class="dot"></span>
            </a>

            <ul class="sub-menu text-center" style="font-size: 32px;">
              <li><a href="../tickets/new">Submit Ticket</a></li>
              <li><a href="../bugs/new">Report Bug</a></li>
              <li><a href="../faq">FAQ</a></li>
<!--              <li><a href="news/Updates">Updates</a></li>-->
            </ul>

          </li>

          <li class="nav-item search-btn">
            <i class="fa fa-search"></i>
          </li>

        </ul>
        <div class="top-search-form">
          <%= render "users/searchchar" %>
        </div>
      </div>
      <!-- /.nav-wrap -->
    </div>
    <!-- /.container -->
  </div>
  <!-- /.nav -->
</header>
<!-- /#header -->

<!--================================-->
<!--=        Mobile Navbar         =-->
<!--================================-->
<header id="mobile-nav-wrap">
  <div class="mob-header-inner d-flex justify-content-between">
    <div id="mobile-logo" class="d-flex justify-content-start">
      <a href="#"><img src="../assets/img/logo.png" alt="Site Logo"></a>
    </div>

    <% if user_signed_in? %>
      <ul class="user-link nav justify-content-end">
        <%#= link_to , users_path(@current_user), "test<span>*</span>".html_safe %>
        <li><a href="#"><i class="fa fa-user"></i> <%= current_user.username %></a></li>

        <% if current_user.seller? %>
          <li><a href="#"><i class="fas fa-dollar-sign"></i> <%= current_user.pins %></a></li>
        <% end %>

        <li>
          <%= link_to destroy_user_session_path, :method => :delete  do %>
            <i class="fa fa-sign-in"></i>logout
          <% end %>
        </li>

      </ul>

    <% else %>
      <ul class="user-link nav justify-content-end">
        <li><a href="../users/sign_in"><i class="fa fa-user"></i>Login</a></li>
        <li><a href="../users/sign_up"><i class="fa fa-sign-in"></i>Sign Up</a></li>
      </ul>
    <% end %>


    <div id="nav-toggle" class="nav-toggle hidden-md">
      <div class="toggle-inner">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  </div>
  <!-- /.mob-header-inner -->
</header>
<!-- /#mobile-header -->

<div class="mobile-menu-inner">

  <div class="close-menu">
    <span class="bar"></span>
    <span class="bar"></span>
  </div>

  <nav id="accordian">
    <ul class="accordion-menu">
      <li>
        <a href="/">Home</a>
      </li>
      <li>
        <a href="#0" class="dropdownlink">News</a>
        <ul class="submenuItems">
          <li><a href="../news/Announcements">Announcements</a></li>
          <li><a href="../news/Events">Events</a></li>
          <li><a href="../news/Maintenance">Maintenance</a></li>
          <li><a href="../news/Updates">Updates</a></li>
        </ul>
      </li>
      <li>
        <a href="../download" >Download</a>
      </li>

      <li>
        <a href="#0" class="dropdownlink">Rankings</a>
        <ul class="submenuItems">
          <li><a href="../ranking/uniques">Uniques</a></li>
          <li><a href="../news/Events">2</a></li>
          <li><a href="../news/Maintenance">3</a></li>
          <li><a href="../news/Updates">4</a></li>
        </ul>
      </li>

      <li>
        <a href="#0" class="dropdownlink">Support</a>
        <ul class="submenuItems">
          <li><a href="../tickets/new">Submit Ticket</a></li>
          <li><a href="../bugs/new">Report Bug</a></li>
          <li><a href="../faq">FAQ</a></li>
        </ul>
      </li>

    </ul>
  </nav>

  <form action="#" id="moble-search">
    <input type="text" placeholder="Search for character ....">
    <button type="submit"><i class="fa fa-search"></i></button>
  </form>
  <!-- /#moble-search -->

  <ul class="footer-social-link">
    <li class="fb-bg"><a href="#"><i class="fa fa-facebook"></i></a></li>
    <li class="in-bg"><a href="#"><i class="fa fa-youtube"></i></a></li>
    <li class="tw-bg"><a href="#"><i class="fab fa-discord"></i></a></li>
  </ul>
</div>
<!-- /.mobile-menu-inner -->
