<!DOCTYPE html>
<html lang="en" class="Gibbu_@hotmail.com">

<head>
  <meta charset="UTF-8">
  <title> Z Online | Login</title>
  <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
  <script defer src="https://use.fontawesome.com/releases/v5.0.1/js/all.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.transit/0.9.12/jquery.transit.js" integrity="sha256-mkdmXjMvBcpAyyFNCVdbwg4v+ycJho65QLDwVE3ViDs=" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">

  <%= stylesheet_link_tag "login.css" %>


</head>

<body>


<!-- NORMALIZED CSS INSTALLED-->
<!-- View settings for more info.-->
<div id="container">
  <div id="inviteContainer">
    <div class="logoContainer"><img class="logo" src="https://image.ibb.co/fPUhHJ/153074246521534012.png"/><img class="text" src="https://image.ibb.co/nKZrXT/cooltext292298163791256.png"/></div>
    <div class="acceptContainer">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { role: 'form' }) do |f| %>
        <h1>WELCOME BACK!</h1>

        <div id="app-errors">
          <% flash.each do |key, value| %>
            <% if key == "notice" %>
              <h4 style=" color : #00962c"><%= value %></h4>
            <% else %>
              <h4 style=" color : #d50005"><%= value %></h4>
            <% end %>
          <% end %>
        </div>


        <div class="formContainer">

          <div class="formDiv" style="transition-delay: 0.2s;">
            <p>EMAIL OR USERNAME</p>
            <%= f.text_field :login, autofocus: true, type: "text" %>
          </div>

          <div class="formDiv" style="transition-delay: 0.4s;">
            <p>PASSWSORD</p>
            <%= f.password_field :password, autocomplete: 'off' %>
          </div>

          <div class="formDiv" style="transition-delay: 0.5s;">
            <% if devise_mapping.rememberable? %>
              <%= f.label :remember_me, class: "forgotPas" do %>
                <%= f.check_box :remember_me%> <%= t('.remember_me', default: 'Remember me') %>
              <% end %>
            <% end %>
          </div>

          <div class="formDiv" style="transition-delay: 0.6s;">
            <%= f.submit  t('.sign_in', default: 'login'), class: "acceptBtn" %>
            <a class="forgotPas" href="./password/new">FORGOT YOUR PASSWORD?</a>
            <a class="forgotPas" href="./confirmation">Didn't receive confirmation instructions?</a>
            <span class="register">Need an account?<a href="./sign_up">Register</a></span>
          </div>
        </div>

      <% end %>
    </div>
  </div>
</div>



<%= javascript_include_tag "login.js"  %>




</body>

</html>
