<!doctype html>
<html>


<head>
  <%= javascript_include_tag "validation.js" %>

  <!-- Meta Data -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title> Z Online | Report Bug </title>

  <!-- Fav Icon -->
  <link rel="apple-touch-icon" sizes="180x180" href="../assets/media/Z_ICO.ico">
  <link rel="icon" type="image/png" sizes="32x32" href="../assets/media/Z_ICO.ico">
  <link rel="icon" type="image/png" sizes="16x16" href="../assets/media/Z_ICO.ico">
  <meta name="theme-color" content="#3d0e03">

  <!-- Dependency Styles -->
  <link rel="stylesheet" href="../assets/dependencies/bootstrap/css/bootstrap.min.css" type="text/css">
  <link rel="stylesheet" href="../assets/dependencies/font-awesome/css/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/brands.css" integrity="sha384-7xAnn7Zm3QC1jFjVc1A6v/toepoG3JXboQYzbM0jrPzou9OFXm/fY6Z/XiIebl/k" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/fontawesome.css" integrity="sha384-ozJwkrqb90Oa3ZNb+yKFW2lToAWYdTiF1vt8JiH5ptTGHTGcN7qdoR1F95e0kYyG" crossorigin="anonymous">


  <!-- Site Stylesheet -->
  <link rel="stylesheet" href="../assets/dependencies/swiper/swiper.min.css" type="text/css">
  <link rel="stylesheet" href="../assets/dependencies/wow/css/animate.css" type="text/css">
  <link rel="stylesheet" href="../assets/dependencies/magnific-popup/magnific-popup.css" type="text/css">
  <link rel="stylesheet" href="../assets/dependencies/jquery-animated-headlines/css/jquery.animatedheadline.css" type="text/css">
  <link rel="stylesheet" href="../assets/home-dependencies/woocommerce.css" type="text/css">
  <link rel="stylesheet" href="../assets/dependencies/jquery-ui/css/jquery-ui.css" type="text/css">
  <link rel="stylesheet" href="../assets/home-dependencies/app.css" type="text/css">

  <!-- Google Web Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Khand:300,400,500,600,700%7C;Source+Sans+Pro:200,300,400,600,600i,700,900" rel="stylesheet">

</head>

<body class="bgb" data-style="default">
<div id="loader-wrapper">
  <div class='loader'></div>
</div>

<div class="switch-top">
  <p>Back To Top</p>
  <a href="#main_content" data-type="section-switch" class="return-to-top">
    <i class="fa fa-angle-double-up"></i>
  </a>
</div>

<div id="main_content">

  <%= render "welcome/Navbar" %>

  <!--=========================-->
  <!--=        Banner         =-->
  <!--=========================-->
  <section id="page-header" data-bg-image="" style="background-color: black;max-height: 200px">
    <!--    <div class="container">-->
    <!--      <div class="page-title-wrap">-->
    <!--        <div class="page-title-inner">-->
    <!--          <h1>Overview</h1>-->
    <!--          <h3>Feature Overview</h3>-->
    <!--          <span class="delemitter" data-bg-image="../../assets/media/banner/s1.png"></span>-->
    <!--        </div>-->
    <!--        <!-- /.page-title-inner -->
    <!--      </div>-->
    <!--      <!-- /.page-title-wrap -->
    <!--    </div>-->
    <!--    <!-- /.container -->
  </section>
  <!-- /#page-header -->

  <!--===============================-->
  <!--=        Game Purchase        =-->
  <!--===============================-->
  <section id="purchase" data-bg-image="../assets/media/background/6.jpg">
    <div class="container">
      <div class="row">
        <div class="offset-md-6">
        </div>
        <!-- /.col-offset-6 -->

        <div class="col-md-6">
          <div class="purhase-game-inner">
            <h2 id="fire-title">
              Hunt The Bug !
            </h2>

            <p style="font-size: 20px;line-height: 35px;">
              Bugs can be quite a pain when you run into them; they can exist in the form of something small like extra black dots around Sylph’s hat, or big like ROC suddenly doing small damage. Our QA Team and engineers are always looking to fix bugs that negatively impact the player experience and we value your bug reports to help us squash these bugs.
            </p>

            <p>
              * Your reports are always special and important for us, if the bug is new, critical, special rewards will be given .
            </p>

            <div id="app-errors">
              <% if @bug.errors.any? %>
                <% @bug.errors.full_messages.each do |msg| %>
                  <h4 style=" color : #d50005"><%= msg %></h4>
                <% end %>
              <% end %>
            </div>

            <div class="comments-form">
              <%= form_for(@bug, :html => {class: "form-comments", role: "form"}) do |f| %>
                <%= f.text_field :name, class: "br", placeholder: "Full Name" , style: "width: 100%"%>
                <%= f.text_field :username, class: "br", placeholder: "Enter your username" %>
                <%= f.text_field :email, class: "bdr", placeholder: "Enter your email"%>
                <%= f.text_field :title, class: "br", placeholder: "Title" , style: "width: 100%"%>
                <%= f.text_area :details, rows: 10, cols: 30, class: "form-control", placeholder: "Describe the bug you want to report in details" %>
                <%= f.file_field :image, as: :attachinary,onchange: "validateFiles(this);", data: { max_file_size: 2.megabytes} %>
                <div style="padding-top: 15%"></div>
                <%= f.submit "Report Bug", class: 'tim-btn-bg brn float-right' %>
              <% end %>
            </div>
          </div>
          <!-- /.purhase-game-inner -->
        </div>
        <!-- /.col-md-6 -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container -->
  </section>
  <!-- /#purchase -->

  <%= render "welcome/Footer" %>

</div>
<!-- /#site -->

<!-- Dependency Scripts -->
<script src="../assets/dependencies/jquery/jquery.min.js"></script>
<script src="../assets/dependencies/bootstrap/js/bootstrap.min.js"></script>
<script src="../assets/dependencies/swiper/js/swiper.min.js"></script>
<script src="../assets/dependencies/swiperRunner/swiperRunner.min.js"></script>
<script src="../assets/dependencies/magnific-popup/js/jquery.magnific-popup.min.js"></script>
<script src="../assets/dependencies/jquery-ui/jquery-ui.min.js"></script>
<script src="../assets/dependencies/jquery-animated-headlines/js/jquery.animatedheadline.min.js"></script>
<script src="../assets/dependencies/jquery.countdown/jquery.countdown.min.js"></script>
<script src="../assets/dependencies/countUp.js/js/countUp.min.js"></script>
<script src="../assets/dependencies/jquery.appear.bas2k/jquery.appear.js"></script>
<script src="../assets/dependencies/jquery.ripples/jquery.ripples.js"></script>
<script src="../assets/dependencies/wow/js/wow.min.js"></script>

<!-- Site Scripts -->
<script src="../assets/home-dependencies/app.js"></script>


</body>

</html>